  
body {
  width: 100%;
  margin: 0;
  
}

header {
  width: 100%;
  height: 100px;
  background-color: #F79489;
  margin-bottom: auto;
  overflow: hidden;
}



nav {
  width: 1050px;
  margin: auto;
}

nav img {
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  width: 150px;
}

h3 {
  float:right;
  margin-left: 50px;
  margin-right: 80px;

}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li {
  margin-top: 20px;
  list-style: none;
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
}

.Sales {
  color: white;
  text-decoration: none;  
}


main {
  width: 100%;
  background-color: white;
}

.section1 {
  background-color: #74BDCB;
  padding-bottom: 20px;
  padding-top: 30px;
}

h1 {
  font-family:'Lobster', cursive;
  font-size: 60px;
  text-align: center;
  background-color:#74BDCB ;
  color: #EFE7BC;
  margin-top: 20px; 
   
}

.chinook img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 50%;
}

.column {
  width: 300px;
  height:175px;
  border: 3px solid #FFA384;
  text-align: center;
}

h2 {
 font-family: 'Lobster', cursive;
 font-size: 25px;
 
}


.container2 ul {
  background-color: #EFE7BC;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  
}

.pic {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-left: 30px;
}
  
.container2 ul li {
  list-style: none;
}


h2 {
  text-align: center;
  margin-top: 40px;

}

form {
  text-align: center;
}

input[type="email"]{
  padding: 10px;
  border: 2px solid black;
}

input[type="submit"] {
  padding: 13px 22px;
  background-color: #FFA384;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  border: none;
}

.pic6 {
  width: 400px;
  height: 300px;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  




