  
body {
  width: 100%;
  margin: 0;
  
}

header {
  width: 100%;
  height: 100px;
  background-color: #F79489;
  margin-bottom: auto;
  overflow: hidden;
}


nav {
  width: 1050px;
  margin: auto;
}

nav img {
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  width: 150px;
}

h3 {
  float:right;
  margin-left: 50px;
  margin-right: 80px;

}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li {
  margin-top: 20px;
  list-style: none;
  color: black;
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
}

.Sales {
  color: black;
  text-decoration: none;  
}


main {
  width: 100%;
  background-color: white;
}

.section1 {
  background-color: #74BDCB;
  padding-bottom: 20px;
  padding-top: 30px;
}

h1 {
  font-family:'Lobster', cursive;
  font-size: 60px;
  text-align: center;
  background-color:#74BDCB ;
  color: #EFE7BC;
  margin-top: 5px; 
   
}

.chinook img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.firstpic {
  width: 400px;
  height: 130px;
  border-radius: 120px/70px;
  border: 3px solid #F79489;
  box-shadow: 5px 10px 18px #888888;
  margin-top: -20px;
}

.container1 {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 50%;
  
}

.column {
  width: 300px;
  height:175px;
  border: none;
  background-color: #FFA384;
  text-align: center;
  border-radius: 25px;
  margin-left: 15px;
  padding: 15px;
}

h2 {
 font-family: 'Lobster', cursive;
 font-size: 25px;
 
}

h4 {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  text-align: center;
  color: #FFA384;
  margin-top: 40px;
}

.container2 ul {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;  
}


.pic {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-left: 30px;
  border-radius: 20px;
  box-shadow: 5px 10px 18px #888888;
}

.container2 ul li {
  list-style: none;
  margin-top: 20px;
}

article {
  background-color: #EFE7BC;
  padding-bottom: 20px;
}

h2 {
  text-align: center;
  margin-top: 60px;
  padding-top: 30px;

}

form {
  text-align: center;
}

input[type="email"]{
  padding: 10px;
  border: none;
  border-radius: 25px;
}

input[type="submit"] {
  padding: 13px 22px;
  background-color: #FFA384;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 20px;
}

.pic6 {
  width: 400px;
  height: 300px;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  border-radius: 25px;  
}

.artsection {
  display: flex;
  flex-direction: row;
  width: 960px;
  margin-left: auto;
  margin-right: auto;

}

.paragraph {
  width: 400px;
  height: 240px;
  float: right;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 20px 20px 20px 20px;
  text-align: center;
  background-color: white;
  border-radius: 25px;
}

footer {
  background-color:#74BDCB;
  height: 50px;
  padding-top: 20px;
  text-align: center;
}

table {
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color:#74BDCB;
}

legend {
  font-family: 'Lobster', cursive;
  color: #74BDCB;
  font-weight: 80px;
}

.salespage {
  background-color: white;
}

.cookieform {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  height: 300px;
  border-radius: 20px;
  background-color: #EFE7BC;
}

.sales {
  width: 100%;
  padding: 7px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

h6 {
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  font-family: 'Lobster', cursive;
  color: #EFE7BC;
}

.salesbtn {
   border: none;
   border-radius: 10px;
   background-color:#74BDCB;
}

.return {
  color: black;
}


